# DocFX build output
_site/
_site_pdf/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build artifacts and temp folders
bin/
obj/
drop/
temp/
node_modules/
.vs/

# DocFX-specific artifacts
docs/api/
samples/**/api/
src/Docfx.App/templates/

# User and editor files
*.user
*.cache
*.received.*
*.diff.*
.settings

# IDE/editor
.idea/
launchSettings.json
*.sublime-workspace
*.nuget.targets
*.code-workspace
*.binlog

# Local deploy helpers
/deploy*.ps1

